body {
    padding: 30px 0;
}
a {
    outline: none;
}
.warning {
    color: #900;
}
.span-label {
    padding-bottom: 1em;
    display: block;
    font-size: 0.8em;
}
.form {
    margin: 0;
}

.b-items {
    margin: 0;
    padding: 0;
    list-style: none;
}
.b-items .row {
    padding: 10px 0;
    border-bottom: dashed 1px #aaa;
}
.b-items .row input {
    margin-bottom: 0;
}
.b-items .row.done {
    background-color: #eee;
    font-style: italic;
    color: #aaa;
}
.b-items-row__edit {
    display: none;
}

.b-item-button {
    font-style: normal;
}

.flr {
    float: right;
}
