@import "app-screen.css";

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 0;
}

#add-form {
    display: none;
}

.b-items .row {
    width: 100%;
    padding: 5px 0;
    border-bottom: dashed 1px #aaa;
    float: left;
}
.b-items .row.done {
    background: none;
    font-style: normal;
    color: #000;
}
.b-items .row.done * {
    font-style: italic;
    text-decoration: line-through;
}
.b-items .row .columns {
    float: left;
}
.b-items .b-item__name {
    width: 80%;
}
.b-items .b-item__name input {
    margin-bottom: 0;
}
.b-items .itemQty {
    width: 10%;
}
.b-items .b-item__type {
    width: 10%;
}
