<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title></title>
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/normalize.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/foundation.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/app-screen.css" media="screen">
    <link rel="stylesheet" type="text/css" href="css/app-print.css" media="print">
    <script src="js/jquery-2.1.4.min.js"></script>
    <script>$.noConflict()</script>
    <script src="js/angular.v1.3.13.js"></script>
    <script src="js/script.js"></script>
</head>
<body ng-controller="TaskManagerController">

<div class="row">
    <div class="column">
        <h1>Shopping List</h1>
        <form id="add-form" ng-submit="insert()">
            <div class="row">
                <div class="column">
                    <span class="span-label"
                          ng-show="!minimumCharactersMet()">You need at least {{howManyMoreCharactersNeeded()}} characters more</span>
                    <span class="span-label"
                          ng-show="isNumberOfCharactersWithinRange()">Remaining characters: {{howManyCharactersRemaining()}}</span>
                    <span class="span-label warning"
                          ng-show="anyCharactersOver()">{{howManyCharactersOver()}} characters too many</span>
                </div>
            </div><!-- .row-->
            <div class="row">
                <div class="large-8 columns">
                    <input type="text" ng-model="newTaskName" ng-trim="true" name="taskName" placeholder="Item">
                </div>
                <div class="large-2 columns">
                    <input type="text" ng-model="newProgress" ng-trim="true" name="progress" placeholder="Progress">
                </div>
                <div class="large-2 columns">
                    <select name="type" ng-model="newTypeId">
                        <option ng-repeat="type in types" value="{{ type.id }}">{{ type.name }}</option>
                    </select>
                </div>
            </div><!-- .row-->
            <div class="row">
                <div class="columns">
                    <div class="show-for-medium-up">
                        <div class="flr">
                            <button type="button" ng-click="print()"
                                    class="small button primary"><i class="fa fa-print"></i> Print List</button>
                            <button type="button" ng-click="remove()"
                                    class="small button alert"><i class="fa fa-eraser"></i> Clear Completed</button>
                        </div>
                        <button type="submit" ng-disabled="!goodToGo()"
                                class="small button"><i class="fa fa-plus"></i> Add</button>
                        <button type="submit" ng-click="clear()"
                                class="small button secondary"><i class="fa fa-remove"></i> Clear Entry</button>
                    </div><!-- .show-for-medium-up-->

                    <div class="show-for-small-only">
                        <ul class="button-group even-4">
                            <li><!-- Print List-->
                                <button type="button" ng-click="print()"
                                        class="small button primary"><i class="fa fa-print"></i></button>
                            </li>
                            <li><!-- Clear Completed-->
                                <button type="button" ng-click="remove()"
                                    class="small button alert"><i class="fa fa-eraser"></i></button>
                            </li><!-- Add-->
                            <li><button type="submit" ng-disabled="!goodToGo()"
                                    class="small button"><i class="fa fa-plus"></i></button>
                            </li><!-- Clear Entry-->
                            <li><button type="submit" ng-click="clear()"
                                    class="small button secondary"><i class="fa fa-remove"></i></button>
                            </li>
                        </ul>
                    </div><!-- .show-for-small-only-->

                </div>
            </div><!-- .row-->
        </form><!-- #add-form-->
        <div class="b-items">
            <div class="b-items-row row" ng-repeat="item in items" ng-class="{ 'done': item.progress == 100 }">
                <div class="b-items-row__data" id="item-data-{{item.id}}">
                    <form id="items" class="form">
                        <div class="small-7 columns b-item__name">
                            <label for="item-{{ item.id }}">
                                <input type="checkbox" name="item-{{ item.id }}" id="item-{{ item.id }}"
                                       ng-model="item.done" ng-true-value="1" ng-false-value="0" ng-change="edit(item)">
                                {{ item.task_name }}
                            </label>
                        </div>
                        <div class="small-1 columns b-item__progress">
                            {{ item.progress }}
                        </div>
                        <div class="small-2 columns b-item__type">
                            {{ getTypeNameById(item.type_id) }}
                        </div>
                        <div class="small-1 columns b-item-button b-item-button_edit">
                            <a href="#" ng-click="turnOnEdit(item)">[edit]</a>
                        </div>
                        <div class="small-1 columns b-item-button b-item-button_delete">
                            <a href="#" ng-click="delete(item)">[X]</a>
                        </div>
                    </form><!-- #items-->
                </div><!-- .b-items-row__data-->
                <div class="b-items-row__edit" id="item-edit-{{item.id}}">
                    <form id="item-edit-form-{{ item.id }}" class="form" ng-submit="edit(item)">
                        <div class="small-7 columns b-item__name">
                            <input type="text" name="item-name" ng-trim="true" ng-model="editTaskName" />
                        </div>
                        <div class="small-1 columns b-item__progress">
                            <input type="text" name="item-progress" ng-trim="true" ng-model="editProgress" />
                        </div>
                        <div class="small-2 columns b-item__type">
                            <select name="item-type" ng-model="editTypeId">
                                <option ng-repeat="type in types" value="{{ type.id }}">{{ type.name }}</option>
                            </select>
                        </div>
                        <div class="small-1 columns b-item-button b-item-button_save">
                            <a href="#" ng-click="edit(item)">[save]</a>
                        </div>
                        <div class="small-1 columns b-item-button b-item-button_cancel">
                            <a href="#" ng-click="turnOffEdit()">[cancel]</a>
                        </div>
                    </form>
                </div><!-- .b-items-row__inputs-->
            </div><!-- .row-->
        </div>
    </div><!-- .column-->
</div><!-- .row-->

</body>
</html>
